
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Tekliflerim</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h2 class="title">Tekfillerim</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">Resim</td>
                            <td class="text-left">Ürün Adı</td>
                            <td class="text-center">Durum</td>
                            <td class="text-center">Teklif Tarihi</td>
                            <td class="text-right">Fiyat</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <a href="#">
                                    <img width="85" class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="../../Content/image/demo/shop/product/B8.jpg">
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="#">Aspire Ultrabook Laptop</a>
                            </td>
                            <td class="text-center">Kazandı</td>
                            <td class="text-center">21/06/2016</td>
                            <td class="text-right">300.00 ₺</td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="#">
                                    <img width="85" class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="../../Content/image/demo/shop/product/B5.jpg">
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="#">Aspire Ultrabook Laptop</a>
                            </td>
                            <td class="text-center">Kaybetti</td>
                            <td class="text-center">21/06/2016</td>
                            <td class="text-right">200.00 ₺</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="#">
                                    <img width="85" class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="../../Content/image/demo/shop/product/B5.jpg">
                                </a>
                            </td>
                            <td class="text-left">
                                <a href="#">Aspire Ultrabook Laptop</a>
                            </td>
                            <td class="text-center">Bekliyor</td>
                            <td class="text-center">21/06/2016</td>
                            <td class="text-right">300.00 ₺</td>
                            <td class="text-center">
                                <a class="btn btn-info" title="" data-toggle="tooltip" href="@Url.Action("AuctionDetail","Auction")" data-original-title="Ilan Durumu"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <!--Middle Part End-->
        @Html.Action("RightPartial","Account")
    </div>
</div>
